ROOT="/app"
CONFIG="[ROOT]/config/sync"
PLUGIN_ROOT="[ROOT]/modules"
THEMES_DIR="[ROOT]/themes"
PUBLIC_STREAM="public://"
PUBLIC_STREAM_DIR="[ROOT]/sites/default/files"
LOG_FILE=[ROOT]/reports.log
LOG_ENABLED="true"
LOG_DRIVER="file"

# Database settings
DB_HOST=
DB_PORT=3306
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=
DB_CHARSET=utf8mb4

# SMTP SETTINGS
SMTP_HOST=""
SMTP_USER=""
SMTP_PASS=""
SMTP_SECURE="ssl"
SMTP_PORT=465
SMTP_DEBUG=0
MAIL_FROM_EMAIL="[SMTP_USER]"

# TMDB setings
TMDB_API_KEY=""
